/* Holds the side-bar and main-bar */
.page-container {
    display: flex;
    flex-direction: row;
    width: 100%;
}

/* Style for the side-bar */
.side-bar {
    display: flex;
    width: 15%;
}

/* Style for the main-bar */
.main-bar {
    display: flex;
    flex-direction: column;
    width: 85%;
    padding: 10px;
    background-color: #990033;
}

/* Style for the query-bar */
.file-query {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

/* Style for the file-display section */
.file-display {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    gap: 15px; /* Space between grid items */
    padding: 3rem;
    background-color: aliceblue;
    border-radius: 5%;
}