/* Holds the side-bar and main-bar */

@import url("../../Global.css");

.full-screen {
    max-height: 100vh;
    overflow-y: hidden;
}
.page-container {
    display: flex;
    flex-direction: row;
    width: 100%;
}

/* Style for the side-bar */
.side-bar {
    display: flex;
    width: 15%;
}

/* Style for the main-bar */
.main-bar {
    display: flex;
    flex-direction: column;
    width: 85%;
    padding: 10px;
    background-color: var(--color-dark-gray);
}


.file-query {
    display: flex;
    flex-direction: column;
    max-height: 15vh;
    padding: 1rem;
}

.file-display-container {
    overflow-y: auto;
    height: 63vh; /* Adjust this height as needed */
    padding: 2rem;
}


.file-display {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    gap: 15px;
    border-radius: 5%;

}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.pagination button {
    background-color: #999999;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 0 10px;
    cursor: pointer;
    border-radius: 4px;
}

.pagination button:disabled {
    background-color: var(--color-button-red);
    cursor: not-allowed;
}


.dropdown{
    position: absolute;
    display:  inline-block;
}

.dropdown-button{
    background-color: var(--color-button-red);
    color: var(--color-white);
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--color-bg); 
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px var(--color-lightbox);
    z-index: 1;
    border-radius: 5px;
  }

  .dropdown-content a {
    color: var(--color-gray); 
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: center; 
  }
  
  .dropdown-content a:hover {
    background-color: var(--color-dark-gray); 
  }
  
  
  .dropdown-button:focus {
    background-color: var(--color-lite-red); 
  }

  .files-per-page-dropdown {
    margin-bottom: 20px;
}

.files-per-page-dropdown label {
    margin-right: 10px;
    font-size: 16px;
    color: var(--color-white);
}

.files-per-page-dropdown select {
    padding: 8px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid var(--color-gray);
    background-color: var(--color-bg);
    color: var(--color-white);
}
  
