/* Holds the side-bar and main-bar */

@import url("../../Global.css");

.full-screen {
    max-height: 100vh;
    overflow-y: hidden;
}
.page-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    background-color: var(--color-bg);
}

/* Style for the side-bar */
.side-bar {
    display: flex;
    width: 15%;
}

/* Style for the main-bar */
.main-bar {
    display: flex;
    flex-direction: column;
    width: 85%;
    padding: 10px;
    background-color: var(--color-dark-gray);
    border-radius: 10px;
    margin-right: 1rem;
    height: fit-content;
}


.file-query {
    display: flex;
    flex-direction: column;
    max-height: 15vh;
    padding: 1rem;
}

.file-display-container {
    overflow-y: auto;
    height: 70vh; /* Adjust this height as needed */
    padding-inline: 2rem;
    padding-bottom: 1rem;
}


.file-display {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    gap: 15px;
    border-radius: 5%;

}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    color: white;
    font-size: 14px;
}

.pagination button {
    background-color: var(--color-button-red);
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 0 10px;
    cursor: pointer;
    border-radius: 4px;
}

.pagination button:disabled {
    background-color: var(--color-gray);
    cursor: not-allowed;
}

.dropdown{
    position: absolute;
    display:  inline-block;
}

.dropdown-button{
    background-color: var(--color-button-red);
    color: var(--color-white);
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--color-bg); 
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px var(--color-lightbox);
    z-index: 1;
    border-radius: 5px;
  }

  .dropdown-content a {
    color: var(--color-gray); 
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: center; 
  }
  
  .dropdown-content a:hover {
    background-color: var(--color-dark-gray); 
  }
  
  
  .dropdown-button:focus {
    background-color: var(--color-lite-red); 
  }

  .files-per-page-dropdown {
      padding: 1rem 1.5rem 1rem 1rem;
      margin-bottom: -1rem;
      margin-left: auto;
}

.files-per-page-dropdown label {
    margin-right: 10px;
    font-size: 14px;
    color: var(--color-white);
}

.files-per-page-dropdown select {
    padding: 5px;
    font-size: 14px;
    border-radius: 5px;
    border: 1px solid var(--color-gray);
    background-color: var(--color-bg);
    color: var(--color-white);
}

::-webkit-scrollbar {
    width: 12px;
    height: 10px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: #555;
    border-radius: 10px;
}


