
.lightbox {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.8); /* Semi-transparent backdrop */
    display: flex;
    align-items: center; /* Center vertically */
    justify-content: center; /* Center horizontally */
    z-index: 1000; /* Ensure it appears on top */
}

.lightbox-content {
    background: #333;
    color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
    text-align: center;
    max-width: 500px; /* Optional: limit the width of the lightbox */
    width: 100%; /* Ensure it takes full width up to the max width */
    box-sizing: border-box; /* Include padding in width calculation */
    user-focus: none;
}

.upload-header {
    display: flex;
    flex-direction: row;
}

.upload-header h2 {
    margin: auto;
}

.upload-header .close-button {
    border: none;
    background: transparent;
    cursor: pointer;
    color: white;
    font-size: 1.5rem;
}

.file-selector {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    border: 1px solid black;
    width: fit-content;
    margin: auto;
}

.choose-file-button {
    cursor: pointer;
    padding: 10px;
    background: #800000;
    color: white;
    border-radius: 5px 0 0 5px;
    border: none;
}

.file-name {
    padding: 8px;
    background-color: #555555;
    border-radius: 0 5px 5px 0;
    border-left: 1px solid black;
    overflow: hidden;
}

.file-input {
    display: none;
}

.file-preview {

}