
@import url("../../../Global.css");

.lightbox {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.8); /* Semi-transparent backdrop */
    display: flex;
    align-items: center; /* Center vertically */
    justify-content: center; /* Center horizontally */
    z-index: 1000; /* Ensure it appears on top */
}

.lightbox-content {
    background: var(--color-dark-gray);
    color: var(--color-white);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
    text-align: center;
    max-width: 40vw; /* Optional: limit the width of the lightbox */
    width: 100%; /* Ensure it takes full width up to the max width */
    height: 80vh;
    box-sizing: border-box; /* Include padding in width calculation */
    user-focus: none;
}

.pdf-preview-2 {
    margin: 1rem 0;
    border: none;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 100%;
    height: 50vh;
    max-height: 75%;
}

.upload-header {
    display: flex;
    flex-direction: row;
}

.upload-header h2 {
    margin: auto;
}

.upload-header .close-button {
    border: none;
    background: transparent;
    cursor: pointer;
    color: var(--color-white);
    font-size: 1.5rem;
}

.file-selector {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    width: fit-content;
    margin: auto;
    padding: 0.5rem;
}

.choose-file-button {
    cursor: pointer;
    padding: 10px;
    background: var(--color-button-red);
    color: var(--color-white);
    border-radius: 5px 0 0 5px;
    border: none;
}

.file-name {
    padding: 8px;
    border-top: 1px solid var(--color-gray);
    background-color: var(--color-gray);
    border-radius: 0 5px 5px 0;
    overflow: hidden;
}

.file-input {
    display: none;
}

.submit-button {
    background-color: var(--color-button-red);
}

.filter-input {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    margin-inline: 10%;
}

.filter-input .input {
    background-color: var(--color-button-red);
    border-radius: 10px;
    padding: 0.5rem 1rem;
    font-size: 14px;
}

.file-preview {
    padding-inline: 2rem;
}