/* Styling for File.jsx */

/* Style for the file card */
.file-card {
    display: flex;
    flex-direction: column;
    background-color: #f9f9f9;
    width: 90%;
    height: 593px;
    padding: 20px;
    margin: 20px auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-family: 'Arial', sans-serif;
    transition: transform 0.3s ease;
}

/* When hovering over the file car */
.file-card:hover {
    transform: scale(1.025);
}

/* File Title styling */
.file-card h1 {
    font-size: 24px;
    color: #333;
    margin-bottom: 10px;
}

/* File Subtitle styling */
.file-card h3 {
    font-size: 18px;
    color: #666;
    margin-top: 10px;
}

/* File paragraph styling */
.file-card p {
    font-size: 16px;
    color: #444;
    margin: 5px 0;
}

/* PDF preview styling */
.pdf-preview {
    margin: 20px 0;
    border: none;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-height: 75%;
}

