/* Styling for FileQueryBar.jsx */
@import "./../../../Global.css";
/* Styling for the entire search and filter container */
.filter-container {
    background-color: var(--color-bg);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 15vh;
    padding: 1rem;
}

/* Styling for the search bar */
.search-bar {
    display: flex;
    align-items: center;
    margin: auto;
    flex-direction: row;
}
.search-bar input {
    padding: 10px 40px 10px 10px;
    border: 1px solid var(--color-white);
    border-radius: 4px;
    font-size: 16px;
    width: 300px;
}

/* Styling for the search button */
.search-button {
    background-color: transparent; /* Bootstrap primary color */
    border: 1px solid var(--color-white);
    color: var(--color-white); /* Text color */
    border-radius: 4px; /* Rounded corners */
    padding: 8px 12px; /* Padding for button */
    margin-left: 5px; /* Space between input and button */
    cursor: pointer; /* Pointer cursor on hover */
    transition: background-color 0.3s; /* Smooth transition */
}

.search-button:hover {
    background-color: var(--color-button-red); /* Darker shade on hover */
}

.filter-dropdowns {
    display: flex;
    gap: 1rem;
    margin: auto;
}

.filter-dropdowns button {
    margin: 10px;
    padding: 0.5rem;
}