/* NavBar.css */

@import url("../../../Global.css");

.navbar {
    background-color: var(--color-bg);
    overflow: hidden;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    padding: 14px 20px;
    position: relative;
}

/* Navbar logo */
.navbar-logo {
    display: flex;
    align-items: center;
}

/* Logo components */
.logo-img {
    width: 5rem;
    height: 5rem;
    border-radius: 75%;
    object-fit: cover;
    margin-right: 20px;
}
.logo-text {
    top: 10%;
    font-size: 60px;
    background: linear-gradient(to right, #999999 50%, #990033 50%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
    transition: transform 1s;
}

.navbar-dropdown {
    position: relative;
    justify-self: flex-end;
}

.dropdown-toggle {
    min-width: 150px;
    max-width: 300px;
    padding: 10px;
    font-size: 24px;
    border: 1px solid var(--color-white);
    border-radius: 5px;
    background-color: var(--color-button-red);
    color: var(--color-white);
    cursor: pointer;
    outline: none;
    transition: border-color 0.3s ease-in-out;
    transition: box-shadow 0.3s ease-in-out;
}
.dropdown-toggle:hover {
    border-color: var(--color-hover-blue);
    box-shadow: 0 0 5px var(--color-hover-blue);
}

.dropdown-menu {
    position: relative;
    z-index: 1;
    top: 100%;
    left: 0;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    opacity: 0;
    visibility: visible;
    transform: translateY(-10px);
    transition: opacity 0.3s ease, transform 0.3s ease;
    margin-top: 5px;
}

.navbar-dropdown .dropdown-menu {
    animation: slideDown 0.3s ease forwards; /* Add slide down animation */
}

.dropdown-menu.closing {
    animation: slideUp 0.3s ease forwards; /* Smooth transition */
}

@keyframes slideDown {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes slideUp {
    from {
        opacity: 1;
        transform: translateY(0px);
    }
    to {
        opacity: 0;
        transform: translateY(-10px);
    }
}

.dropdown-menu button {
    position: inherit;
    z-index: inherit;
    background: none; /* No background */
    border: none; /* No border */
    padding: 10px 20px; /* Padding for the button */
    width: 100%; /* Full width */
    text-align: left; /* Align text to the left */
    cursor: pointer; /* Pointer cursor */
    transition: background-color 0.3s ease; /* Smooth background transition */
    margin: 5px 0; /* Add space between dropdown buttons */
}

.dropdown-menu button:hover {
    background-color: #f0f0f0; /* Change background on hover */
}