/* TagsTabInterface.css */

@import url('../../../Global.css');

/* Right Panel */
.tags-tab-panel {
    padding: 20px;
    margin: 1rem;
    background-color: var(--color-dark-gray);
    border-radius: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.tags-tab-panel h2 {
    text-align: center;
    color: var(--color-white);
    font-size: 1.8em;
    margin-bottom: 20px;
}

/* Tabs */
.tabs-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    gap: 0px;
    align-items: center;
    text-align: center;
}
.tabs-header button {
    padding: 10px 15px;
    border: 1px solid var(--color-gray);
    background-color: var(--color-dark-gray);
    color: var(--color-white);
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    flex-grow: 1;
    text-align: center;
}
.tabs-header button:hover {
    background-color: var(--color-button-red);
    transform: translateY(-3px);
}
.tabs-header button.active {
    background-color: var(--color-button-red);
    color: var(--color-white);
}

/* Refresh icon styling */
.refresh-icon {
    font-size: 24px;
    margin-left: 0.5rem;
    cursor: pointer;
    transition: transform 0.3s ease;
    color: var(--color-white);
}
.refresh-icon:hover {
    transform: rotate(180deg);
}

/* Tab Content */
.tab-content {
    border: 2px solid var(--color-gray);
    padding: 10px;
    background-color: var(--color-bg);
    color: var(--color-white);
    border-radius: 5px;
}

/* Table Styling */
table {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
}
table th, table td {
    padding: 12px 15px;
    text-align: left;
    border-bottom: 1px solid var(--color-bg);
    border-left: 1px solid var(--color-bg);
    background-color: var(--color-dark-gray);
    font-weight: bold;
    text-transform: uppercase;
}
table th:last-child {
    border-right: 0;
}
table td {
    background-color: var(--color-gray);
}
table tbody tr:hover {
    background-color: var(--color-button-red);
    cursor: pointer;
}
td.status-tag, th.status-tag {
    width: 10%;
    text-align: center;
}

.status-label {
    padding: 4px 8px;
    border-radius: 4px;
    font-weight: bold;
    text-transform: capitalize;
}
.status-active {
    background-color: #28a745;
    color: white;
}
.status-inactive {
    background-color: #6c757d;
    color: white;
}
.status-pending {
    background-color: #6f42c1;
    color: white;
}

/* Status tags */
.tag {
    padding: 5px 10px;
    border-radius: 5px;
    color: white;
    font-size: 12px;
}

.tag.green {
    background-color: green;
}

.tag.gray {
    background-color: gray;
}

.tag.purple {
    background-color: purple;
}



/* Loading screen */
.loading {
    text-align: center;
    font-size: 20px;
    padding: 50px;
}

/* Styling for the fixed-right column */
.actions-column {
    text-align: center;
    white-space: nowrap;
}

/* Icon styling */
.icon {
    margin: 0 5px;
    cursor: pointer;
}

.icon.green {
    color: green;
}

.icon.gray {
    color: gray;
}

.icon.blue {
    color: blue;
}

.icon.red {
    color: red;
}



